@using Newtonsoft.Json
@using System.Web.Mvc.Html
@model Mashup.ViewModels.TrafficMessageViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <section class="scripts">
        <script type="text/javascript" src="http://maps.google.com/maps/api/js"></script>
        <script type="text/javascript">
            var data = @Html.Raw(JsonConvert.SerializeObject(Model.trafficmessages));
            $(document).ready(function () {
                Initialize(data);
            });
    </script>
    </section>
}

<!-- begin template -->
<div class="container-fluid" id="main">
    <div class="row">
        <div class="col-xs-8" id="left">
            <h2> Aktuell Trafikinformation</h2>
            <h6> Webbapplikation visar den trafikinformation som Sveriges Radio presenterar och plottrar ut de positioner som hör till varje trafikmeddelande.</h6>
            <hr />
            <div >
                <p>         
                     @using (Html.BeginForm())
                     {
                        @Html.DropDownListFor(m => m.categories, new SelectList(Model.categories, "Value", "Text"), "-- Välj en kategori --", new { @onchange = "this.form.submit();", @class = "dropdown" })
                    }
                </p>
            </div>
            <hr />
@foreach (var item in Model.trafficmessages)
    {
            <!-- item list -->
            <div class="panel panel-default">
                <div class="panel-heading"><a id="traffic" href=# onclick="myClick(@item.id);">@Html.DisplayFor(modelItem => item.Title) <strong>Tid: </strong>@Html.DisplayFor(modelItem => item.CreatedDate) </a></div>
            </div>
            <p>
                <strong>Exakt läge: </strong>@Html.DisplayFor(modelItem => item.ExactLocation)<br />
                <strong>Kategori: </strong>@Html.DisplayFor(modelItem => item.SubCategory)<br />
                <strong>Prioritet: </strong>@Html.DisplayFor(modelItem => item.priority)<br />
                <strong>Beskrivning: </strong>@Html.DisplayFor(modelItem => item.Description)<br />        
            </p>
            <hr>
            <!-- /item list -->
    }
            <p>
                <a href="https://github.com/jb223cp/1dv449_jb223cp_lab3" target="_ext" class="center-block btn btn-primary">Länk till projektets GitHub</a>
            </p>
            <hr>
        </div>
        <div class="col-xs-4">
            <div id="map-canvas" style="height: 750px; width:730px;"></div>
        </div>

    </div>
</div>
<!-- end template -->
